/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* MAIN COLOR: #087f5b */
/* GREY COLOR: #343a40 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter', sans-serif;
}

.component{
  display: flex;
  margin: 25rem auto;
  width: 25rem;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
}

.button{
  font-weight: .1rem;
  width: 2rem;
  height: 2rem;
  border: thin solid #087f5b ;
  border-radius: 50%;
  font-size: 16px;
  stroke: .1rem;
  color: #087f5b;
}

.number{
  font-family: "Inter", sans-serif;
  width: 10%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #343a40;
}

.number:hover{
  background-color: #087f5b;
  border-radius: 70%;
  color: aliceblue;
  padding: .5rem;
}